* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* @import url(https://fonts.googleapis.com/css?family=Nova+Round:regular); */
   /* @import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic); */
  @import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
   font-family: Nunito;
    /* font-family: sans-serif; */
}

body {
    width: 100%;
    height: 100vh;
    /* background: #f2f2f2; */
    background: #ffffff;
}

header {
    width: 100%;
    height: 10%;
    /* border: 1px solid red; */
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    position: fixed;
    z-index: 1;
    background: transparent;
    backdrop-filter: blur(1rem);
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    /* position: absolute; */
    /* z-index: 1; */

}

header nav .logo {
    width: 20%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    z-index: 1;
}

.hamburger {
    display: none;
}

header nav .tabs {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 1;
    /* background: red; */
}

ul {
    list-style: none;
    display: flex;
    font-size: 1.1rem;
    /* background: red; */
    /* font-weight: 100; */
    /* font-weight: 100; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

ul li a {
    text-decoration: none;
    display: flex;
    margin-right: 4rem;
    color: #333;

}

ul li .registerBtn {
    width: 100px;
    height: 40px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 1rem; */
    background-color: #333;
    color: #fff;
    margin: -0.4rem 4rem 0 0;
    transition: 0.3s all ease;
}

ul li .registerBtn:hover{
    background: #ccc;
    border: 1px solid #ccc;
}

/* light and dark toggle */
#theme {
    z-index: 999999;
    /* color: #808080; */
    color: #000;
    position: absolute;
    /* margin-left: 40%; */
    margin-right: 2rem;
    margin-top: -0.5rem;
    font-size: 20px;
    background: transparent;
    border: none;
}

#theme:hover {
    cursor: pointer;
}


.container {
    width: 100%;
    height: 90%;
    /* border: 1px solid blue; */
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    /* border: 1px solid green; */
}

.col {
    width: 40%;
    height: 80%;
    /* border: 1px solid yellow; */
    margin: 5% 5% 0 5%;

    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;

}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.container .row .col:nth-child(1) {
    background-image: url();
    background-size: cover;
    animation: influence 3s linear infinite;
    /* height: 80%; */

}

.container .row .col:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
}

.container .row .col:nth-child(2) .wrap {
    /* display: none; */
    /* background-image: none; */
    width: 50%;
    height: 33.4%;
    display: flex;
    /* border: 1px solid blue; */
}

.container .row .col:nth-child(2) .wrap a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    /* background-color: red; */
}

.container .row .col:nth-child(2) .wrap a:hover {
    background-color: blueviolet;
}

.container .row .col:nth-child(2) .wrap .density {
    background-color: brown;
    animation: density 3s;
}

.container .row .col:nth-child(2) .wrap .quadratic {
    background-color: red;
    animation: quadratic 3s;
}

.container .row .col:nth-child(2) .wrap .scientific {
    background-color: orange;
    animation: scientific 3s;
}

.container .row .col:nth-child(2) .wrap .statistics {
    background-color: blue;
    animation: statistics 3s;
}

.container .row .col:nth-child(2) .wrap .pythagoras {
    background-color: green;
    animation: pythagoras 3s;
}

.container .row .col:nth-child(2) .wrap .exam {
    background-color: black;
    animation: exam 3s;
}


/* blog carousel */

.slideshow-container {
    width: 100%;

    z-index: 0;
    position: relative;
    margin: 0 0 0 0;
}

/* hide the images by default */

.myslides {
    display: none;
}

/* next and previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.values {
    position: absolute;
    top: 7rem;
    padding: 8px 12px;
    width: 100%;
    backdrop-filter: blur(0.5rem);
    text-align: center;
    animation: show 1s;

}

@keyframes show {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}

.text {
    color: #f2f2f2;
    font-size: 4rem;




    font-weight: 800;

}

.links {
    backdrop-filter: blur(0.5rem);

    color: #f2f2f2;

    /* top: 300px; */
    margin: 1rem 0 0 0;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;

}

.links a {
    margin: 0 0 0 1rem;
    width: 150px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #f2f2f2;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 2px;
}

.links a:nth-child(1) {
    background-color: #333;
    border: 2px solid #333;

    transition: 0.3s ease-in-out;
}

.links a:nth-child(1):hover {
    background-color: #ccc;
    border: 2px solid #ccc;
    color: #000;
}

.links a:nth-child(2) {
    background-color: #ccc;
    border: 2px solid #ccc;
    color: #333;

    transition: 1s ease-out;
}

.links a:nth-child(2):hover {
    background-color: #333;
    border: 2px solid #333;
    color: #fff;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.slideshow-container .myslides img {
    height: 100vh;
    z-index: 0;

}

/* style for jobs */
.jobs {
    width: 80%;
    height: 200px;
    margin: -100px 0 0 10%;
    position: absolute;
    /* border: 2px solid blue; */
    display: flex;
}

.jobs .clients,
.projects,
.students {
    width: 33.3%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.jobs .clients {
    background: #ccc;
}

.jobs .projects {
    background: #333;
}

.jobs .students {
    background: #ccc;
}

.jobs .clients .row {
    /* border: 1px solid white; */
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
}

.jobs .projects .row {
    /* border: 1px solid white; */
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
}

.jobs .students .row {
    /* border: 1px solid white; */
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
}

.jobs .clients .row .col:nth-child(1) {
    width: 30%;
    height: auto;
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
    font-size: 2rem;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
}

.jobs .clients .row .col:nth-child(2) {
    width: 70%;
    padding: 0;
    margin: 0;
    height: auto;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap; */
}

.jobs .projects .row .col:nth-child(1) {
    width: 30%;
    height: auto;
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
    font-size: 2rem;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
}

.jobs .projects .row .col:nth-child(2) {
    width: 70%;
    padding: 0;
    margin: 0;
    height: auto;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #ccc;

    flex-direction: column;
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap; */
}

.jobs .students .row .col:nth-child(1) {
    width: 30%;
    height: auto;
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
    font-size: 2rem;

    /* flex-direction: column; */
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
}

.jobs .students .row .col:nth-child(2) {
    width: 70%;
    padding: 0;
    margin: 0;
    height: auto;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap; */
}

/* about blog */
.about-blog {
    width: 80%;
    height: 610px;
    background: #fff;
    /* border: 2px solid green; */
    position: absolute;
    margin: 200px 0 0 10%;

}

.about-blog .row {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    display: flex;

    /* padding: 0 0 0 2rem; */

    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}

.about-blog .row .col {
    width: 50%;
    height: 100%;
    /* border: 2px solid blue; */
    /* padding: 0; */
    margin: 0;
    display: block;
    padding: 0 2rem 0 2rem;



}

.about-blog .row .col:nth-child(2) {
    background-image: url(../image/hacker2.jpg);
    background-size: cover;


}

.about-blog .row .col .title {
    padding: 1rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.about-blog .row .col .title h4 {
    color: #333;
}

.about-blog .row .col .body-content {
    padding: 1rem 0 1rem 0;
    font-size: 1.0rem;
    font-weight: 400;
    color: #333;
    line-height: 1.6;
    flex-wrap: wrap;

}
.about-blog .row .col .body-content .row{
    display: flex;
    margin: 0.6rem 0 0 0;

}
.about-blog .row .col .body-content .row .col {
    
    background-image: none;
}

.about-blog .row .col .body-content .row .col-content:nth-child(1) {
    width: 10%;
    height: auto;
    background: #fff;
    display: flex;
    justify-content: start;
    padding: 0;
    margin: 0;
    align-items: center;
    font-size: 2rem;
    /* flex-direction: column; */
    flex-wrap: wrap;
    box-shadow: 0px;
    /* flex-wrap: wrap; */
}

.about-blog .row .col .body-content .row .col-content:nth-child(2) {
    width: 90%;
    padding: 0;
    margin: 0;
    height: auto;
    background: transparent;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 1.2rem;
    
    flex-direction: column;
    box-shadow: 0px;
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap; */
}

/* reason */
.reason{
    width: 80%;
    height: auto;
    /* border: 2px solid red; */
    margin: 840px 0 0 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: #f2f2f2; */


}

.reason-title{
    width: 70%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.2rem;
    color: #333;
    padding: 1rem 0 0 0;

}
.reason-title h2{
    color: #111;
    font-size: 2.8rem;
    text-align: center;
}
.reason-contents{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 0 0;
}
.reason-contents .col-reason-contents{
    width: 50%;
    padding: 1rem 2rem 0 1rem;
}

.reason-contents .col-reason-contents .title{
    font-size: 1.6rem;
    font-weight: 600;
}
.reason-contents .col-reason-contents .reason-body-content{
    font-size: 1rem;
    line-height: 1.3;
    color: #333;
    font-weight: 300;
}

.service{
    width: 80%;
    margin: 5% 0 0 10%;
}

.service-title{
    text-align: center;
    font-size: 1.2rem;
}
.service-title h2{
    color: #111;
    font-size: 2.8rem;
    text-align: center;
}
.service .service-row:nth-child(2){
    width: 100%;
    display: flex;
    
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.service .service-row:nth-child(2) .service-col{
    width: 31%;
    height: 300px;
    padding: 0.5rem 1rem 0 1rem;
    /* color: #837f8a; */
    color: #333;
    font-weight: 500;
    /* border: 2px solid blue; */
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    background: #eef9ff;
    border-radius: 3px;
}

.service .service-row:nth-child(2) .service-col .service-title{
    margin: 1.5rem 0 0 0;
}
.service .service-row:nth-child(2) .service-col .service-body-content{
    text-align: center;
}

.testimonial{
    width: 80%;
    margin: 5% 0 0 10%;
}

.testimonial-title{
    text-align: center;
    font-size: 1.2rem;
}
.testimonial-title h2{
    color: #111;
    font-size: 2.8rem;
    text-align: center;
}
.testimonial .testimonial-row:nth-child(2){
    width: 100%;
    display: flex;
    
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.testimonial .testimonial-row:nth-child(2) .testimonial-col{
    width: 31%;
    height: 400px;
    padding: 0.5rem 1rem 0 1rem;
    /* color: #837f8a; */
    color: #333;
    font-weight: 500;
    border: 2px solid blue;
    margin-top: 1.5rem;
    /* margin-left: 1.5rem; */
    background: #eef9ff;
    border-radius: 3px;
}

.testimonial .testimonial-row:nth-child(2) .testimonial-col .testimonial-title{
    margin: 1.5rem 0 0 0;
}
.testimonial .testimonial-row:nth-child(2) .testimonial-col .testimonial-body-content{
    text-align: center;
}